*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
   ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    gap: 15px;
   }
li{
    font-size: 18px;
    list-style: none;
}
li a{
    color: #e5e7eb;
    text-decoration: none;
}
.logo{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}
header{
    background-color: #1f2937;
    padding: 0 150px;
}
.hero-section{
    display: flex;
    padding: 0 150px;
    background-color: #1f2937;
    height: 350px;
    align-items: center;
    gap: 100px;
}
.hero{
    flex: 1;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.hero h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero p{
    font-size: 18px;
    color: #e5e7eb;
    flex-basis: 1;
}
.hero button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    width:95px;
    height:30px;
    margin-top: auto ;
    }
.hero-img{
     background-color: rgb(141, 141, 141);
    color: white;
    display: flex;
    justify-content: center;
   
}
.hero-img p{
    align-self: center;
}
.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.subtext{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 55px;
}
.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 145px;    
}
.sub div{
    width: 90px;
    height: 90px;
    align-self: center;
    border: 2px solid #3882f6;
    border-radius: 7px;
}
.sub p{
    text-align: center;
    margin-top: 5px;
}
.quote-section{
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 450px;
    justify-content: center;
    align-items: center;
}
.quote-section div{
    width: 58%;
    display: flex;
    flex-direction: column;
}
.quote-section p:last-child{
    align-self: flex-end;
    font-weight: bolder;
}